@font-face {
  font-family: 'DM Sans';
  src: url('../DM_Sans/static/DMSans_24pt-Regular.ttf');
}

body,
html,
#root {
  height: 100%;
}

html {
  font-size: 18px;
}

h1 {
  padding: .77rem 0;
  margin: 0;
  background-color: #790d8f;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.88rem;
  color: #fff;
  
}

h1 .highlight {
  color: #e44edf;
}

h2 {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.55rem;
}

.App {
  height: 100%;
  padding: 0 17% 10% 17%;
  background-image: url('./background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 14px;
}

.AppPlaylist {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (max-width: 1020px) {
  .App-playlist {
    align-items: center;
    flex-direction: column;
  }
}
